APP_NAME=Demand Forecasting System
SECRET_KEY=dusmantadhal
DATABASE_URL=postgresql+psycopg://postgres:dusmanta09876@db.eakopdyqdubxnmcwlfot.supabase.co:5432/postgres
SESSION_COOKIE_NAME=forecasting_session
ADMIN_EMAIL=dusmantadhal10sc14@gmail.com
